@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light-blue: #c2c9f4;
	--creamy-white: #fcfcfd;
	--blue: #354ad9;
	--light-grey: #d0d5dd;
	--light-slate-grey: #667085;
	--dark-slate-grey: #344054;
	--black: #101828;
	--red: #dc3545;
	--light-red: #dc354540;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
